<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB5kcbiuoGYxLhIiP1f3wlDKdtzjUEVP80</string>
	<key>GCM_SENDER_ID</key>
	<string>100588323064</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.clubmanagement</string>
	<key>PROJECT_ID</key>
	<string>finall-server</string>
	<key>STORAGE_BUCKET</key>
	<string>finall-server.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:100588323064:ios:5679d01cb161efdb3d3b0d</string>
	<key>DATABASE_URL</key>
	<string>https://finall-server-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>